<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="../../../Files/properties.config"/>
  
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  
  <providers resource="providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="SQLServer2012"/>
		<dataSource name="Blogs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=../../../Files/Blogs.mdb"/>
	</database>

	<sqlMaps>
			<sqlMap resource="Maps/Access/Post.xml" />
		  <sqlMap resource="Maps/Access/Blog.xml" />
	    <sqlMap resource="Maps/Access/Author.xml" />
	</sqlMaps>

</sqlMapConfig>